/* base*/

* {
    box-sizing:border-box;
    margin:0;
    padding: 0;
    font-size:0;
    font-family: "Open Sans", sans-serif;
}
body {
    font-size: 0;
 /*background-color: #92DCE0;
 background-color: #699E87;*/
 background-color: #32313B
}
h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    color:white;
}


#d1, #d2, #d3 {
    position: relative;
    padding: 0 0 0.5em 0.5em;
    font-size: 14px;
    display: inline-block;
    margin-top: 1%;
    background-color: white;

        }
        #d1 {
    border: 8px solid #EC408C;
}
#d2 {
    border: 8px solid #39B2C7;
}
#d3 {
    border: 8px solid #1FD26A;
}


#d1 > div {
    background-color: #EC408C;
    border: none;
}
#d2 > div {
    background-color: #39B2C7;
    border: none;
}
#d3 > div {
    background-color: #1FD26A;
    border: none;
}
/*        
#d1 {
    border: 5px solid #0092D7;
}
#d2 {
    border: 5px solid #3EC303;
}
#d3 {
    border: 5px solid #EE8D09;
}


#d1 > div {
    background-color: #0092D7;
    border: none;
}
#d2 > div {
    background-color: #3EC303;
    border: none;
}
#d3 > div {
    background-color: #EE8D09;
    border: none;
}
*/
#name1, #name2, #name3 {
    position: absolute;
    right: 0;
    width: 8em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-size: 1.25em;
    font-size:18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;   t
        }

#p1, #p2, #p3 {
    position: relative;
    margin-top: 3em;
    padding-right: 1em;
    font-size:14px;
}

/*desktop*/

@media (min-width: 992px) {
    #d1, #d2, #d3  {
        width: 32%;
}
    #d1, #d2, #d3 {
    margin-right:1%;
}
    #d1 {
margin-left: 1%;
}
}


/*tablet*/

@media (min-width: 768px) and (max-width: 991px)     {
    #d1, #d2 {
    width: 48.5%;
    }
    
    #d1 {
        margin: 0 1% 0 1%;
    }
        #d2 {
        margin: 0 1% 0 0;
    }
    #d3 {
        width: 98%;
        margin: 1% 1% 1% 1%;
    }
    }

@media (max-width: 767px) {
    #d1, #d2, #d3 {
margin: 1% 1% 1% 1%;
    }
}
