/* base*/

* {
    box-sizing:border-box;
    margin:0;
    padding: 0;
    font-size:0;
    font-family: "Open Sans", sans-serif;
}
body {
    font-size: 0;
    background-image: url("../img/1.png");
}
h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    color:#95A990;
}


#d1, #d2, #d3 {
    border: 3px solid #95A990;
    position: relative;
    padding: 0 0 0.5em 0.5em;
    font-size: 14px;
    display: inline-block;
    margin-top: 1%;
        }


div > div {
    background-color: #95A990;
    
    border: none;
}

#name1, #name2, #name3 {
    position: absolute;
    right: 0;
    width: 8em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-size: 1.25em;
    font-size:18px;
        }

#p1, #p2, #p3 {
    position: relative;
    margin-top: 3em;
    padding-right: 1em;
    font-size:14px;
}

/*desktop*/

@media (min-width: 992px) {
    #d1, #d2, #d3  {
        width: 32%;
}
    #d1, #d2, #d3 {
    margin-right:1%;
}
    #d1 {
margin-left: 1%;
}
}


/*tablet*/

@media (min-width: 768px) and (max-width: 991px)     {
    #d1, #d2 {
    width: 48.5%;
    }
    
    #d1 {
        margin: 0 1% 0 1%;
    }
        #d2 {
        margin: 0 1% 0 0;
    }
    #d3 {
        width: 98%;
        margin: 1% 1% 1% 1%;
    }
    }

@media (max-width: 767px) {
    #d1, #d2, #d3 {
margin: 1% 1% 1% 1%;
    }
}
